@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #4a5568
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

nav {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 100%;
}

a {
  display: inline;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo--img {
  height: 40px;
  width: 40px;
}

.nav__logo--title {
  font-weight: 900;
  font-size: 24px;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}

.nav__link {
  margin: 0 24px;
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
  letter-spacing: 0.35px;
  border-bottom: 2px solid transparent;
  position: relative;
  transition: all 300ms;
}

.login {
  margin-left: 48px;
}

.nav__link--primary {
  margin: 0;
  padding: 10px 32px;
  margin-top: 2px;
  border-radius: 9999px;
  color: white;
  background-color: #6414ff;
  line-height: 1.5;
  border: none;
  width: auto;
  transition: all 300ms ease;
}

.nav__link--primary:hover {
  text-decoration: none;
} 

.btn__menu {
  background-color: transparent;
  border: none;
  display: none;
  transition: all 300ms ease;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.purple {
  color: #6415ff
}

/* LANDING */